PORT=3000
BASE_URL=http://localhost:3000
NODE_ENV=test
SWAGGER_USER=admin
SWAGGER_PASSWORD=admin
DATABASE_URL="postgresql://test_user:test_password@localhost:5433/ems_test"
ACCESS_TOKEN_EXPIRE=1d
REFRESH_TOKEN_EXPIRE=7d
JWT_SECRET_KEY=supersecretkey
ARTILLERY_CLOUD_API_KEY=a9_eiasvg8argzwn8ur99syv3gk4za9lusy

# Scraper
SCRAPER_BASE_URL=http://localhost:3001
SCRAPER_HEADLESS=true